#projects {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the title and project list */
    justify-content: flex-start; /* Align items at the start */
    height: 100vh; /* Use the full height of the viewport */
    padding-top: 50px; /* Add padding to move everything down */
}

.projectsTitle {
    font-size: 3rem; /* Title font size */
    font-weight: 500; /* Title font weight */
    margin-bottom: 2rem; /* Increased margin below the title */
    color: white; /* Title color */
}

.ProjectList {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns for a 2x2 layout */
    gap: 90px; /* Increased space between grid items */
    padding: 20px;
    max-width: 1200px; /* Limit the maximum width for centering */
    width: 100%; /* Make the grid take full width of the parent */
    justify-items: center; /* Center items in their grid cells */
    justify-content: center; /* Center the entire grid */
}

.projectItem {
    width: 540px; /* Updated width to 1.5 times the previous value */
    height: 450px; /* Updated height to 1.5 times the previous value */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content inside project items */
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.bgImage {
    width: 100%;  /* Full width for the image */
    height: 100%; /* Set height to fill the square */
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0 0; /* Rounded top corners */
}

.projectItem h1 {
    font-size: 1.25rem; /* Set project name size */
    margin-top: 10px; /* Space above the project name */
    color: white; /* Set project names to white */
    font-weight: bold; /* Bold project names */
}
